<div class="completebeige">
<div class="container">
    <div class="row row-content">
        <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="media">
                <div class="media-left activity-animation ">
                        <cl-image public-id={{photo.title}}  class="thumbnail inline img-responsive" width="600" height="200" crop="scale" format="jpg"  ></cl-image>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12"></div>
                <div class="media-body">
                    <h3 class="media-heading">{{photo.displaytitle}}</h3>
                    <p>{{photo.completedescription}}</p>
                </div>


        </div>
</div>


        




    





</div>
</div>


